.contact{
padding:100px 8%;
background:#F5FAF2;
text-align:center;
}

.contact h2{
font-size:42px;
color:#1B5E20;
}

.contact p{
margin:20px auto 50px;
color:#666;
}

.contact-form{
max-width:700px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.contact-form input,
.contact-form textarea{
padding:18px;
border:1px solid #ccc;
border-radius:10px;
font-size:16px;
}

.contact-form button{
padding:18px;
background:#2E7D32;
color:white;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.contact-form button:hover{
background:#1B5E20;
}