.fertilizer-page {
  min-height: 100vh;
  background: linear-gradient(to right, #f4f9f4, #edf7ed);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.fertilizer-card {
  width: 700px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.fertilizer-page h1 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 25px;
  font-size: 38px;
}

.fertilizer-card h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 25px;
}

.fertilizer-card form {
  display: flex;
  flex-direction: column;
}

.fertilizer-card input {
  padding: 16px;
  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 17px;
}

.fertilizer-card input:focus {
  outline: none;
  border: 2px solid #2e7d32;
}

.fertilizer-card button {
  background: #2e7d32;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.fertilizer-card button:hover {
  background: #1b5e20;
}

.result-box {
  margin-top: 30px;
  padding: 25px;
  border: 2px solid #2e7d32;
  border-radius: 15px;
  background: #f8fff8;
}

.result-box h2 {
  color: #2e7d32;
  margin-bottom: 20px;
}

.result-box p {
  margin: 12px 0;
  font-size: 18px;
}

.result-box strong {
  color: #2e7d32;
}
.fertilizer-card h1 {
    text-align: center;
    color: #1b6d2b;
    font-size: 42px;
    margin-bottom: 25px;
    font-weight: 700;
}

.fertilizer-card h2 {
    text-align: center;
    color: #1b6d2b;
    margin-bottom: 25px;
}